.lBox {
    width: 150px;
    height: 150px;
    border: 15px solid red;
    border-radius: 50%;
}

.sBox {
    width: 20px;
    height: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: yellow;
    border-radius: 50px;
    animation: infinite linear;
    animation-name: bMove;
    animation-duration: 2s;
}

@keyframes bMove {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}
